# Gradle
.gradle
build/
!gradle-wrapper.jar
gradle*

# Intellij
*.iml
.idea/

# Android
local.properties
*.log

# iOS
xcuserdata/
*.a

# Mac
.DS_Store

# Native code
.externalNativeBuild/

# VS Code
.vscode

# dependencies
node_modules
